doctype html
html
  head
    meta(charset='utf-8')
    meta( name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
    script(src='http://code.jquery.com/jquery-1.10.2.js')
    script(src='http://code.jquery.com/ui/1.11.4/jquery-ui.js')
    script(src='javascript/index.js')
    link(rel='stylesheet', href='/css/index.css')
  body
    #kanban-board
      .column
    //  .column Сделать
        #01.ui-state-default Item 1
        #02.ui-state-default Item 2
        #03.ui-state-default Item 3
      .column В процессе
        #11.ui-state-default Item 1
        #12.ui-state-default Item 2
        #13.ui-state-default Item 3
      .column Готово
        #21.ui-state-default Item 1
        #22.ui-state-default Item 2
        #23.ui-state-default Item 3